{% extends 'jobs/base.html' %}

{% block content %}

  <div class="position-relative overflow-hidden text-center">
    <div class="mx-auto mt-4">
      <h1 class="header-name display-4 font-weight-normal">{{ company.company_name }}</h1>
      {% load static %}
      <img src="{% static company.company_logo %}" alt="{{ company.company_name }} logo">
    </div>
  </div>

  <div class="pl-md-3 container font-weight-normal p-3">
    <h5>About {{ company.company_name }}</h5>
    <p>{{ company.company_desc|linebreaksbr }}</p>
  </div>

{% endblock %}